        /* Chatbot.css */
        * {
        font-size: 1.3vw;
        font-family: "Epilogue", sans-serif;
        }

        html {
        --scrollbarBG: #fff;
        --thumbBG: #90a4ae;
        }

        body {
        background: #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        }

        .container {
        box-shadow: 2vw 2vw 12vw 3vw #ccc;
        width: 35vw;
        height: 40vw;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        margin: 0px 10px 0px 0px;
        }

        .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1vw;
        background: #000;
        }

        .header h1 {
        color: #fff;
        font-size: 2vw;
        font-family: "Finger Paint", cursive;
        padding: 1vw;
        margin: 0;
        }

        .icon {
        width: 3vw;
        height: 3vw;
        }

        #categories,
        #questions,
        #answers {
        padding: 1vw;
        flex: 1;
        overflow-y: auto;
        }

        #categories ul,
        #questions ul,
        #answers ul {
        list-style: none;
        padding: 0;
        margin: 0;
        }

        #categories li,
        #questions li,
        #answers li {
        cursor: pointer;
        margin: 1vw 0;
        }

        #input-section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1vw;
        background: #fff;
        }

        #input-section input {
        color: #000;
        min-width: 0.5vw;
        outline: none;
        height: 5vw;
        width: 70%;
        border: none;
        padding: 1vw;
        }

        .send {
        background-color: #4caf50;
        /* Green color */
        border: none;
        color: white;
        cursor: pointer;
        flex: 0 0 auto;
        padding: 1vw;
        border-radius: 0 1.5vw 1.5vw 0;
        }

        .send .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        }

        .send .circle i {
        font-size: 2vw;
        }
        body .card .send {
        background-color: #000; /* Black background color */
        border: none;
        color: #fff; /* White font color */
        cursor: pointer;
        flex: 0 0 auto;
        padding: 1vw;
        border-radius: 0 1.5vw 1.5vw 0;
        }

        body .card .send .circle i {
        font-size: 2vw;
        transform: rotate(180deg); /* Rotate the arrow icon */
        }